<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="geral">

  <form action="action_page.php">
    <div class="imgcontainer">    
    </div>
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Digite seu Email" name="uname" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Digite sua Senha" name="psw" required>
  
      <button type="submit">Entrar</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Lembrar-me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Esqueceu a <a href="#">senha?</a></span>
    </div>
  </form> 

</div>
