<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        <span class="login100-form-title">
          Bem vindo ao PublicVagas!
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input class="input100" type="text" name="username" placeholder="Nome de usuario...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Please enter password">
          <input class="input100" type="password" name="pass" placeholder="Senha...">
          <span class="focus-input100"></span>
        </div>

        <div class="text-right p-t-13 p-b-23">
          <span class="txt1">
            Esqueceu-se do 
          </span>

          <a href="#" class="txt2">
            Nome de usuário / Senha?
          </a>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Entrar
          </button>
        </div>

        <div class="flex-col-c p-t-170 p-b-40">
          <span class="txt1 p-b-9">
            Ainda não é cadastrado?
          </span>

          <a routerLink = "/principal">
            Cadastre-se aqui!
          </a>
          
        </div>
      </form>
    </div>
  </div>
</div>