<div class="container">
    <div class="row center">
        <h5>
            <b>Publicar uma nova vaga</b>
        </h5>
        <br/> Encontramos o talento certo para sua empresa !
        <br/> Sabe aquela papelada, aquelas horas e horas conferindo linha a linha cada curriculum ?
        <br/> Você esta a um passo de acabar com isso só basta publicar a sua vaga,
        <br/> e a mágica fica por nossa conta.
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" name="formulario" id="formulario">

        <div class="container">
            <div class="row">
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">text_fields</i>
                    <input id="titulo" name="titulo" type="text" class="validate" minlength="3" required #titulo="ngModel" ngModel>
                    <label for="titulo">Título da vaga</label>
                    <!-- <div *ngIf="!titulo.valid && titulo.touched">
                            O título é obrigatório!
                        </div>   -->
                </div>

                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">toc</i>
                    <input id="cargo" name="cargo" type="text" class="validate" minlength="3" required ngModel>
                    <label for="titulo">Cargo</label>
                </div>

                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">create</i>
                    <input id="contratacao" name="contratacao" type="text" class="validate" minlength="3" required>
                    <label for="titulo">Contratação</label>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">monetization_on</i>
                    <input name="salario" id="salario" type="text" class="validate" required ngModel>
                    <label for="salario">Salário</label>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">filter_1</i>
                    <input name="quantidadevagas" id="quantidadevagas" type="number" class="validate" required ngModel>
                    <label for="quantidadevagas">Quantidade de vagas</label>
                </div>              

                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">event_note</i>
                    <input id="experiencia" name="experiencia" type="text" class="validate" minlength="3" required ngModel>
                    <label for="titulo">Experiência</label>
                </div>

                <div class="input-field col s12 m12">
                    <textarea name="beneficios" id="beneficios" class="materialize-textarea" minlength="5" required ngModel></textarea>
                    <label for="beneficios">Benefícios</label>
                </div>

                <div class="input-field col s12 m12">
                    <textarea name="descricao_atividades" id="descricao_atividades" class="materialize-textarea" minlength="10" required ngModel></textarea>
                    <label for="observacao">Descrição das atividades</label>
                </div>

                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">filter_2</i>                  
                    <textarea name="segunda_etapa" id="segunda_etapa" class="materialize-textarea" minlength="10" required ngModel></textarea>
                    <label for="segunda_etapa">Instruções segunda etapa *¹</label>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col s6 m6 offset-s2 offset-m2">
                <button class="btn waves-effect waves-light" type="submit" name="buttonSubmit" id="buttonSubmit" (click)="cadastrar()">Cadastrar
                    <i class="material-icons right">send</i>
                </button>         
                </div>
        </div>
        </form>
        </div>
        <br><br>        