.row {
    margin-left: 0;
    margin-right: 0;
}

#login {
    background-color: #eee !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* z-index: 99999;
    padding: 20px; */
  }

  .barraInicial{
    background-color:darkcyan;
    color: aliceblue;
    margin-bottom: 0;  
    position: static;
    border-top: 0;
    
}

.brand-logo{
    margin-left: 2rem;
}

.btn waves-effect waves-light{
    margin-left: 45px;
}

/*Validações*/

/* .ng-invalid.ng-touched:not(form){
    border: 2px solid red;
} */