.barraInicial{
    background-color:darkcyan;
    color: aliceblue;        
}

.titulo{
    text-align: center;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: cadetblue;
}