.barraInicial{
    background-color:darkcyan;
    color: aliceblue;        
}

.brand-logo{
    position: relative;
}
.titulo{
    text-align: center;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: darkcyan;
}