.vaga{    
    align-content: flex-start;    
    margin-left: 46px;
    margin-right: 78px;    
}

.barraTitulo{
    background-color:darkcyan;
    color: aliceblue;    
    text-align: center;
}

.detalhes{
    text-align: center;
    font-style: italic;
    font-size: 19px;
}